= stylesheet_link_tag "staticpages"

.rant
  %p There is an evil in this world.  It is the evil of the <span class="danger">mouse device</span>.  It lures you in with its simple promise of two buttons and the ability to move in any direction.
  %p But hidden in that seductive device is the <span class = "danger">mutilation</span> of your productivity.
